footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    color: rgb(14, 13, 13);
    background:  rgb(160, 170, 175);
    overflow-x:hidden;
    position:fixed;
}

p{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight:600;
}

a{
    text-decoration: none;
    text-transform: capitalize;
}